<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }} 
    
    {{ $aureliaFiles := readDir "static/aurelia2" }}
    {{ range $aureliaFiles }}
      {{ if findRE "main-.*\\.js$" .Name }}
        <script type="module" src="{{ (printf "aurelia2/%s" .Name) | relURL }}" async></script>
      {{ end }}
    {{ end }}
  </head>
  <body>
    {{ partial "header.html" . }} {{ partial "sidebar.html" . }}

    <main>
      <div class="screen-activator">{{ block "main" . }}{{ end }}</div>

      <footer class="content-footer" id="app-footer">
        {{ partial "footer.html" . }}
      </footer>
    </main>

    {{ partial "search-panel.html" . }}

    <script src="{{ "js/search.js" | relURL }}"></script>
    
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38441871-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    </script>
  </body>
</html>
