<div class="my-4 p-4 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-lg">
    <div class="flex items-center gap-3">
        <i class="fab fa-npm text-red-600 text-2xl"></i>
        <a href="https://www.npmjs.com/package/{{ .Destination }}" 
           class="text-lg font-mono hover:text-aurelia-light"
           target="_blank" 
           rel="noopener">
            {{ .Destination }}
        </a>
    </div>
    <div class="mt-2 flex gap-2">
        <img src="https://img.shields.io/npm/v/{{ .Destination }}" alt="npm version" />
        <img src="https://img.shields.io/npm/dm/{{ .Destination }}" alt="npm downloads" />
    </div>
</div> 