{{/* Structured data (JSON-LD). FAQ pages emit their own FAQPage schema in faq/single.html. */}}

{{- if .IsHome -}}
  {{- $org := dict
    "@type" "Organization"
    "name" "Aurelia"
    "url" (absURL "/")
    "logo" (dict "@type" "ImageObject" "url" (absURL "logo.svg"))
    "sameAs" (slice
      "https://github.com/aurelia"
      "https://twitter.com/aureliaeffect"
      "https://discourse.aurelia.io/"
      "https://discord.gg/RBtyM6u")
  -}}
  {{- $website := dict
    "@type" "WebSite"
    "name" site.Title
    "url" (absURL "/")
    "publisher" (dict "@type" "Organization" "name" "Aurelia")
  -}}
  {{- $graph := dict "@context" "https://schema.org" "@graph" (slice $org $website) -}}
  <script type="application/ld+json">{{ $graph | jsonify | safeJS }}</script>
{{- end -}}

{{- if and .IsPage (eq .Section "blog") -}}
  {{- $author := "" -}}
  {{- with .Params.author }}{{ $author = . }}{{ else }}{{ with .Params.authors }}{{ $author = index . 0 }}{{ end }}{{ end -}}
  {{- $authorNode := dict "@type" "Organization" "name" "Aurelia" -}}
  {{- if $author -}}
    {{- $authorNode = dict "@type" "Person" "name" $author -}}
    {{- with site.GetPage (printf "authors/%s" ($author | urlize)) -}}
      {{- $authorNode = dict "@type" "Person" "name" (.Params.name | default $author) "url" .Permalink -}}
    {{- end -}}
  {{- end -}}
  {{- $img := absURL (or .Params.featured_image (or .Params.image site.Params.social_image)) -}}
  {{- $desc := or .Description .Summary -}}
  {{- $post := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $desc
    "image" $img
    "datePublished" (.Date.Format "2006-01-02T15:04:05-07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    "author" $authorNode
    "publisher" (dict
      "@type" "Organization"
      "name" "Aurelia"
      "logo" (dict "@type" "ImageObject" "url" (absURL "logo.svg")))
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  -}}
  <script type="application/ld+json">{{ $post | jsonify | safeJS }}</script>

  {{- $crumbs := slice
    (dict "@type" "ListItem" "position" 1 "name" "Home" "item" (absURL "/"))
    (dict "@type" "ListItem" "position" 2 "name" "Blog" "item" (absURL "blog/"))
    (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink)
  -}}
  {{- $breadcrumb := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $crumbs -}}
  <script type="application/ld+json">{{ $breadcrumb | jsonify | safeJS }}</script>
{{- end -}}
