<nav>
    <ul>
      {{ $currentPage := . }}
      {{ $prefix := "/website" }}
      {{ range .Site.Data.sidebar.menu }}
        {{ $menuItem := . }}
        {{ $isActive := false }}
        {{ if .active }}
          {{ if eq .icon "home" }}
            {{ $isActive = $currentPage.IsHome }}
          {{ else if eq .icon "article" }}
            {{ $isActive = eq $currentPage.Section "docs" }}
          {{ else if eq .icon "blog" }}
            {{ $isActive = eq $currentPage.Section "blog" }}
          {{ else if eq .icon "help" }}
            {{ $isActive = eq $currentPage.RelPermalink (printf "%s/support/" $prefix) }}
          {{ else if eq .icon "learn" }}
            {{ $isActive = eq $currentPage.RelPermalink (printf "%s/learn/" $prefix) }}
          {{ end }}
        {{ end }}
        <li class="{{ .icon }}{{ if $isActive }} active{{ end }}">
          {{ if .target }}
            <a href="{{ .link }}" target="{{ .target }}">
              {{ partial "menu-item.html" . }}
            </a>
          {{ else }}
            {{ $link := .link }}
            {{ if not (hasPrefix .link "http") }}
              {{ $link = printf "%s%s" $prefix .link }}
            {{ end }}
            <a href="{{ $link }}">
              {{ partial "menu-item.html" . }}
            </a>
          {{ end }}
        </li>
      {{ end }}
    </ul>
</nav>